<h2>Willkommen beim Pizza Paradies</h2>
Bisherige Bestellungen:
<li>
    <ul *ngFor="let pizza of this.orderedPizzas">
        <i> -{{pizza.getLabel()}}</i>
    </ul>
</li>
<button *ngIf="orderedPizzas.length !== 0" (click)="this.orderedPizzas = []">Bestellungen löschen</button>
<hr>
<h4>Bayreuther Pizzaservice</h4>
<button (click)="generateBayreuthPizza('wagner', this.bayreutherPizzaFactory)">Die offizielle Richard Wagner Pizza</button>
<button (click)="generateBayreuthPizza('bier', this.bayreutherPizzaFactory)">Wer es eher alkoholisch mag...</button>
<hr>
<!-- TODO: Implementiere eine Simple Factory, die die verschiedenen PizzaStores zurückliefert -->
<h4>Kulmbacher Pizzaservice</h4>
<button (click)="generateBayreuthPizza('bier', null)">Die Kulmbacher Bier Pizza!!</button>
<button (click)="generateBayreuthPizza('salami', null)">Salami oh ja</button>
